@model LibrarySystem.Models.BookAllocation

<h1>Book Allotment:</h1>

<div class="container center_div">
    <div class="row">
        <div class="col-md-6">
            <form method="post" asp-action="IssueBook" asp-controller="BookAllocation" autocomplete="off">
                <input type="text" class="form-control" asp-for="IsBookSubmitted" value="false" style="display:none" />
                <div class="form-group form-row">
                    <label>Book Id:</label>
                    <input type="text" class="form-control" asp-for="BookId" value="@ViewBag.BookData.BookId" readonly/>
                </div>
                
                <div class="form-group form-row">
                    <label>Book Name:</label>
                    <input type="text" class="form-control" value="@ViewBag.BookData.BookName" readonly/>
                </div>

                <div class="form-group form-row">
                    <label>Member:</label>
                    <select class="form-control" asp-for="MemberId" asp-items="@ViewBag.MemberDropDown"></select>
                </div>

                <div class="form-group form-row">
                    <label>Issue Date:</label>
                    <input type="datetime" class="form-control" asp-for="IssueDate" value="@DateTime.Now" readonly/>
                </div>

                <div class="form-group form-row">
                    <label>Due Date:</label>
                    <input type="datetime" class="form-control" asp-for="DueDate" value="@DateTime.Now.AddDays(7)" readonly/>
                </div>

                <div class="form-group form-row">
                    <div class="col-6">
                        <input type="submit" class="btn btn-danger w-75" value="Allocate" />
                    </div>
                    <div class="col-6">
                        <a class="nav-link text-white w-75 btn btn-success" asp-area="" asp-controller="BookAllocation" asp-action="Index">Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
